rotation/
ms-pcqe-env/
alpha_0.005_ply/
alpha_0.005_imgs/
alpha_0.005_frames_s_0.4/
alpha_0.005_frames_s_0.6/
MS-PCQE_main/ckpts-old/
MS-PCQE_main/ckpts/
MS-PCQE_main/__pycache__/
MS-PCQE_main/vit_pytorch/__pycache__/
0-20/
production_gen_images.sh
MS-PCQE_main/production_generate_scores.sh
rename_dirs.py